[submodule "vendor/opencode"]
	path = vendor/opencode
	url = https://github.com/anomalyco/opencode.git
	ignore = dirty

[submodule "vendor/pi"]
	path = vendor/pi
	url = https://github.com/earendil-works/pi.git
	ignore = dirty
